<div id='portfolio-container' class='col-lg-9'>
<% if @portfolio%>
  <h3>Portfolio</h3>
    <%= render_datatable(@datatable, search: true) %>
    <%# <%= render_datatable_charts(@datatable) %>
<% else %>
  <div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">You don't have any stocks in your portfolio yet. Look up a stock price quote and submit a purchase order to start building your investment portfolio.</p>
  </div>
<% end %>
</div>
<%# <%= javascript_include_tag("https://www.gstatic.com/charts/loader.js") %>
