<% if user_signed_in? %>
  <h1><%= current_user.name %>'s Portfolio</h1>
  <div class="row">
    <%= render 'portfolio' %>
    <%= render 'order_form' %>
  </div>
<% else %>
  <%# login/signup prompt %>
<% end %>
<%# <%= javascript_include_tag('portfolio') %>
